[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "content/docs"]
	path = content/docs/onboarding
	url = https://github.com/rOpenSpain/onboarding.git
