[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/rOpenSpain/hugo-universal-theme
[submodule "content/docs"]
	path = content/docs
	url = https://github.com/rOpenSpain/onboarding.git
