{{ if isset .Site.Params "empezamos" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.empezamos) 0 }}
<section class="bar background-white">
    <div class="container">
        {{ range $index, $element := sort .Site.Data.features "weight" }}
		{{ if eq (mod $index 3) 0 }}
		<div class="col-md-12">
            <div class="row">
		{{ end }}
				<div class="col-md-4">
                    <div class="box-simple">
                        <div class="icon">
                            <i class="{{ .icon }}"></i>
                        </div>
                        ## Ciencia de datos en Español ##

Imagino que la gran mayoría de vosotros sois conocedores del proyecto <https://ropensci.org/>.

Con su lema: "Transformar la ciencia a través de los datos abiertos y el software", la iniciativa pretende fomentar los métodos de investigación transparentes fundamentalmente a través del uso de sofware libre y los datos abiertos.
Con algunos años de trabajo, han conseguido un respetable número de paquetes en R para ello.

Desde nuestro punto de vista, nosotros, un grupo de entusiastas de R, pensamos que la iniciativa merece nuestro apoyo, y diríamos aún más: merece un apoyo específico y adaptado al dato Español.
Las fuentes de datos abiertas y la investigación pública con datos Españoles, es algo que a nuestros ojos, merece una mejor y mayor difusión pública.
Del mismo modo que nuestra contrapartida allende nuestras fronteras, queremos que se cree una comunidad en torno al proyecto que permita mantener un repositorio de datos abiertos en Español, con paquetes en R desarrollados por la comunidad, y con suficiente tracción como para poder fomentar el uso de los mismos con unas buenas prácticas asociadas.

Es por ello que iniciamos este camino, pidiendo vuestra colaboración. Si sois entusiastas de los datos, necesitamos colaboradores desde todos los puntos de vista y desde todas las profesiones, para hacer que este proyecto se haga realidad.
Si tienes proyectos que en alguna forma están relacionados con los datos en Español, manda un correo y estaremos encantados de que te unas al proyecto. Si tienes repositorios dedicados a este tema, háznoslo saber, y te incluiremos en nuestra relación de repositorios asociados.
Si tienes una iniciativa, de software o de datos, que consideras que encuentra cabida con nosotros. Ven. Estamos deseando conocerte.

Los interesados pueden mandar un correo a: ![](../images/emilio.PNG)

¡Empezamos!



                    </div>
                </div>
		{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.features) 1 )) }}
			</div>
		</div>
		{{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
