{{ if gt (len .Site.Data.paquetes) 0 }}
<section class="bar background-white">
    <div class="container">
        {{ range $index, $element := sort .Site.Data.paquetes "weight" }}
		{{ if eq (mod $index 3) 0 }}
		<div class="col-md-12">
            <div class="row">
		{{ end }}
				<div class="col-md-4">
                    <div class="box-simple">
                      {{ if eq $element.icon "fab fa-r-project"}}
                        <div class="icon cran">
                      {{ else }}
                       <div class="icon">
                      {{ end }}
                            <i class="{{ .icon }}"></i>
                        </div>
                        <h3>{{ $element.name }}</h3>
                        
                        {{ if eq $element.icon "fab fa-r-project"}}
		        <p><a href="https://cran.r-project.org/package={{ $element.name }}"><img src="https://img.shields.io/badge/Disponible%20en%20CRAN--green&?style=social"></a></p>
		        {{ else }}
		        <p><a href="https://github.com/rOpenSpain/{{ $element.name }}"><img src="https://img.shields.io/badge/Disponible%20en%20GitHub--green&?style=social"></a></p>
                        {{ end }}
                        <p>{{ $element.description | markdownify }}</p>
                        
                        
                    </div>
                </div>
		{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.paquetes) 1 )) }}
			</div>
		</div>
		{{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
